

#first-image{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}

#about{
    text-align:right;
    line-height: 2;
    margin-right: 30px;
    margin-left: 30px;
         
}

#about>p{
    width: 50%;
    }

#about>.button,#about2>.button{  
    width:fit-content;
    font-size:inherit;
    margin: 30px auto 30px auto;
}
#second-image{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
}
#about2{
    text-align:left;
    line-height: 2;
    margin-left: 0px;
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 30px;
}

#about2>p{
    width: 50%;
}

.middle-container{
    margin-top: 200px ;   
}

#manager{
    margin-top: 100px;
    text-align: center;

}
#manager>h2{
    font-size: 40px;
}
#manager>p{
    width: 80%;
    text-align: center;
    margin: 0px;
    padding: 10px;
}
#manager>img{
    width: 100%;
    border-radius: 20px;
 
}
#manager>.button{
    width:fit-content;
    font-size:inherit;
    margin: 100px;
}

#bottom-container{
    margin-top: 100px;
    background-color: #78C4D4;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}
#bottom-container>p{
    margin-bottom: 0px;
}
#footer-link{
    color: #025955;
    margin-left: 10px;

}
#footer-link:hover{
    color: white;
    text-decoration: underline;
}
   