

#first-image{
    height: 35%;
    width: 35%;
    border-radius: 20px;
    margin-left: 60px;
    float: left;
    position: relative;
}

#about{
    text-align:right;
    line-height: 2;
    margin-right: 100px;
         
}

#about>p{
    width: 50%;
    margin: 0px;
    display: inline-block;
}
#about>.button,#about2>.button{  
    width:fit-content;
    font-size:inherit;
    margin: 30px auto 30px auto;
}
#second-image{
    height: 40%;
    width: 40%;
    border-radius: 20px;
    margin-right: 60px;
    float: right;
    position: relative;
}
#about2{
    text-align:left;
    line-height: 2;
    margin-left: 100px;
    margin-top: 100px;
}

#about2>p{
    width: 50%;
    margin: 0px;
    display: inline-block;
}
#middle-container{
    margin-top: 200px ;   
}

#manager{
    margin-top: 200px;
    text-align: center;
    position: relative;
}
#manager>h2{
    font-size: 40px;
}
#manager>p{
    width: 80%;
    text-align: center;
    position: relative;
    margin: 0px;
    display: inline-block;
}
#manager>img{
    width: 30%;
    border-radius: 20px
}
#manager>.button{
    width:fit-content;
    font-size:inherit;
    display: inline-block;
    margin: 100px;
}

#bottom-container{
    margin-top: 100px;
    background-color: #78C4D4;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}
#bottom-container>p{
    margin-bottom: 0px;
}
#footer-link{
    color: #025955;
    margin-left: 10px;

}
#footer-link:hover{
    color: white;
    text-decoration: underline;
}
   