
p{
    font-weight: normal !important;
}

h2{
    text-align: center;
}


#how_can_we_help_you{
    width: 90%;
    height: auto;

    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}


.column_styling col{
    border-style: solid;
    border-width: medium;
    border-color: #025955;
    border-radius: 10px;

    margin-top: 100px;
    margin-bottom: 100px;
}
.column_styling p{
    margin-top: 40px;
    padding: 8px; 

    font-size: 18px;
    color: black;
    background-color: white;

    border-style: solid;
    border-width: medium;
    border-color: #025955;
    border-radius: 10px;

    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


button a:hover{
    text-decoration: none;
    color: white;
}