

#news>img{
    width: 600px;
    height: 350px;
    border-radius: 20px;
    position:absolute;
    right: 0;
    top: 0;
}

#news{
    text-align:left;
    line-height: 2;
    margin-left: 100px;
    margin-top: 50px;
    position: relative;
}
#news>h2{
    width: 50%;
}
#news>h3{
    width: 50%;
}
#news>p{
    width: 30%;
    margin: 0px;
    
}
#news>.button{
    
    margin: 100px 100px 0px 0px;
    
    
}
#middle-container{
    margin-top: 200px ;
    
    
}


#matches{
    margin-top: 300px;
    text-align: center;
    
}
#matches>h2{
    font-size: 40px;
    
}
#matches>.button{
    
    margin: 100px 500px 100px 500px;
}
.upcoming-match{
    text-align: center;
    display: inline-block;
    margin: 100px;

}

.upcoming-match>img{
    width: 400px;
    height: 400px;
    margin-top: 40px;
    margin-left: 40px;
}


.footer-link{
    color: #025955;
    margin-left: 10px;

}
.footer-link:hover{
    color: white;
    text-decoration: underline;
}
#meet-the-staff{
    margin-top: 300px;
    margin-bottom: 300px;
    position: relative;
    text-align: center;

}

.meet{
    line-height: 2;
    width: 30%;
    display: inline-block;
    margin-right: 100px;
    margin-left: 100px;
    
}
.meet>.button{
    width:fit-content;
    font-size:inherit;
}


    