/* Universal selector */

*{
    box-sizing: border-box;
}

/* Tag selectors */
body{
    margin: 0px;
    background-color: #ccf2f4;
    width: 100%;
    height: auto;
}

hr{
    border: dotted grey 6px;
    border-bottom: none;
    width:5%;
    height: 6px;
    margin: 100px auto;
}

a{ 
    text-decoration: none;
}

h2{
    font-family:  'Lora', serif;
    font-size: xx-large;
}

h3{
    font-family: 'Lora', serif;
}

p{
    font-family:  'Poppins', sans-serif;
    font-weight: bolder;
}

span>a{
    color: white;
}

/*Class selectors*/

.bar-element{
    display: inline;
    padding: 20px 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.bar-element > a{
    color: black;
}
.bar-element>a:hover{
    color: white;
}
.bar-element:hover{
    background-color: #025955;
} 

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #025955;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
  }
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}

/*ID selectors*/

#top_container{
    background-color: #78C4D4;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 300px;
    z-index: 2;
    opacity: 0.9;
}

#topbar{
    display: inline-block;
    position: absolute;
    right: 0;
}
#topbar li{
    display: inline;
    padding: 20px 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#topbar li:hover{
    background-color: #025955;
} 
#topbar li >a{
    color: black;
}
#topbar li >a:hover{
    color: white;
}


#logo {
    display: inline;
    margin-left: 30px;
    
    font-family: 'Permanent Marker', cursive;
}

#logo > a{
    color: #025955;
}
#logo > a:hover{
    color: wheat;
}


  
.button:hover span:after {
    opacity: 1;
    right: 0;
}




#bottom_container{
    background-color: #78C4D4;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    height: auto;

    position: static;
    bottom: 0px;
}
#bottom_container >p{
    margin-bottom: 0px;
}
#bottom_container >a{
    color: #025955;
    margin-left: 10px;
}
#bottom_container >a:hover{
    color: white;
    text-decoration: underline;
}
