#Logo {
    color: #ff7e67;
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

body {
    /*background-color: #fafafa;*/
    background-image: url("images/ground3.jpg");
    background-size: cover;
    max-width: 2330px;
}

h2{
  margin-top: 100px;
  text-align: center;
}

.par{
  font-family: 'Lora', serif;
}

.bar {
    margin-right: 5px;
    color: #fafafa;
}

.bar:hover {
    background-color: #112d4e;
    color:#ff7e67
}

.header {
    font-style: italic;
    font-size: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    background-color: #3f72af;
    z-index: 2;
}

.header a {
    float: left;
    font-size: 40;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border: 2px solid #3f72af;
    border-radius: 20px 20px 20px 20px;
}

.title { 
    font-family:  'Lora', serif; 
    font-style: italic;
    font-size: 50px;
    color: #025955;
    position: relative;
    padding-left: 30px;
    margin-top: 50px;
    top: 70px;
    width: 100%;
    text-shadow: 2px 2px 2px #78C4D4;
    text-align: center;
}

.elements {
    position: absolute;
    left: 0px;
    top: 225px;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    width: 100%;
}

.match:hover {
    float: left;
    transform: scale(1.2);
    z-index: 1;
}

.match2:hover {
    float: left;
    transform: scale(1.2);
    z-index: 1;
}

.match3:hover {
    float: left;
    transform: scale(1.2);
    z-index: 1;
}

.match4:hover {
    float: left;
    transform: scale(1.2);
    z-index: 1;
}

.match5:hover {
    float: left;
    transform: scale(1.2);
    z-index: 1;
}

.match6:hover {
    float: left;
    transform: scale(1.2);
    z-index: 1;
}

.match {
    position: relative;
    top: 50px;
    left: 60px;
    color: #78C4D4;
    float: left;
    width: 600px;
    height: 450px;
    background-image: url("../photos/barca.jpg");
    transition: transform .2s;
}

.match2 {
    position: relative;
    top: 50px;
    left: 60px;
    color: #78C4D4;
    float: left;
    width: 600px;
    height: 450px;
    background-image: url("../photos/real.jpg");
    transition: transform .2s;
}

.match3 {
    position: relative;
    top: 50px;
    left: 60px;
    color: #78C4D4;
    float: left;
    width: 600px;
    height: 450px;
    background-image: url("../photos/chelsea.PNG");
    transition: transform .2s;
}

.match4 {
    position: relative;
    top: 50px;
    left: 60px;
    color: #78C4D4;
    float: left;
    width: 600px;
    height: 450px;
    background-image: url("../photos/juve.jpg");
    transition: transform .2s;
}

.match5 {
    position: relative;
    top: 50px;
    left: 60px;
    color: #78C4D4;
    float: left;
    width: 600px;
    height: 450px;
    background-image: url("../photos/bayern.jpg");
    transition: transform .2s;
}

.match6 {
    position: relative;
    top: 50px;
    left: 60px;
    color: #78C4D4;
    float: left;
    width: 600px;
    height: 450px;
    background-image: url("../photos/liver.jpg");
    transition: transform .2s;
}


#foot {
    position: absolute;
    text-shadow: none;
    bottom: -500px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    font-size: 15px;
    height: auto;
    background-color: #78C4D4;
    z-index: 2;
}

.footer-link{
    color: #025955;
    margin-left: 10px;

}
.footer-link:hover{
    color: white;
    text-decoration: underline;
}